/* Organization of rules:
1. Base rules (reset, body, ul, variables, color palette, fonts etc)
2. Layout rules (header, nav, footer, sidebar, etc)
3. Modules rules (galleries, buttons, paragraphs, forms, widgets...)
*/

/* 1. BASE */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	color: var(--text-color);
	font-family: 'Hangyaboly';
}

body {
	max-width: 77rem;
	margin: 0 auto;
	background: var(--body-bg-gradient);
}

:root {
	--body-bg-gradient: linear-gradient(
		to bottom,
		rgb(191, 245, 255) 0%,
		rgb(210, 245, 255) 50%,
		rgb(220, 255, 255) 90%,
		rgb(230, 255, 255) 100%
	);
	--link-color: white;
	--text-color-1: rgb(46, 136, 163);
	--text-color-2: rgb(59, 182, 219);
	--text-color-3: rgb(0, 0, 0);
	--menu-item-1: rgb(249, 204, 77);
	--menu-item-2: rgb(225, 76, 56);
	--menu-item-3: rgb(182, 193, 55);
	--menu-item-4: rgb(82, 146, 173);
	--menu-item-5: rgb(254, 148, 62);
	--menu-item-6: rgb(222, 129, 168);
}

ul,
li {
	list-style-type: none;
}

img {
	display: block;
}

button {
	cursor: pointer;
	color: var(--link-color);
	font-family: 'Hangyaboly';
	font-size: 1.1rem;
	font-weight: 600;
}

a {
	color: var(--link-color);
	font-size: 1.3rem;
	font-weight: 600;
	text-decoration: none;
}

.card-link {
	cursor: pointer;
	font-weight: 400;
}

h2 {
	position: absolute;
	z-index: -1;
	/* top: -2.45rem; */ /* shows good on desktop but not on mobile and tablet */
	top: -2.2rem;
	width: 5rem;
	border-radius: 5px 5px 0 0;
	padding: 0.7rem 0.4rem;
	color: var(--link-color);
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
}

#o-nama h2 {
	left: 1.1rem;
	background: var(--menu-item-1);
}

#programi h2 {
	left: 4rem;
	background: var(--menu-item-2);
}

#galerija h2 {
	left: 7rem;
	background: var(--menu-item-3);
}

#blog h2 {
	left: 10rem;
	background: var(--menu-item-4);
}

#projekti h2 {
	left: 13rem;
	background: var(--menu-item-5);
}

h3,
h4 {
	color: var(--text-color-2);
	font-size: 2.2rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	margin-top: 1rem;
}

h4 {
	color: var(--link-color);
}

p,
.program-item {
	font-family: 'Source Serif Pro-Regular';
	font-size: 1.2rem;
	line-height: 1.4;
}

.program-item {
	margin-left: 1.5rem;
	list-style-type: decimal;
	line-height: 2;
}

footer {
	font-family: 'Source Serif Pro-Regular';
}

@font-face {
	font-family: 'Hangyaboly';
	src: url(../fonts/Hangyaboly.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Serif Pro-Regular';
	src: url(../fonts/SourceSerifPro-Regular.ttf) format('truetype');
}

/* 2. LAYOUT */
header {
	position: relative; /* related to hamburger menu */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 1rem;
}

header img {
	width: 10rem;
	height: 100%;
}

section {
	position: relative;
	margin: 1rem 1rem 5rem;
	padding: 0.5rem;
	background-color: white;
}

/* override for showcase section in individual programs pages */
#home-mali-olimpijac > #showcase,
#home-mali-avanturist > #showcase,
#home-kondicijska-priprema > #showcase,
#home-djecja-kineziterapija > #showcase {
	margin-bottom: 2.5rem;
}

section:last-child {
	margin-bottom: 2rem;
}

.section-frame {
	border: 2px dashed var(--text-color-1);
	padding: 0.5rem;
}

.container {
	width: auto;
	height: 50vh;
}

.hero {
	background: url(../img/bg/hero.jpeg) no-repeat center center/cover;
}

.hero-mali-olimpijac {
	background: url(../img/full/asset-22.jpeg) no-repeat center center/cover;
}

.hero-mali-avanturist {
	background: url(../img/full/asset-15.jpeg) no-repeat center center/cover;
}

.hero-kondicijska-priprema {
	background: url(../img/full/asset-14.jpeg) no-repeat center center/cover;
}

.hero-djecja-kineziterapija {
	background: url(../img/full/asset-31.jpeg) no-repeat center center/cover;
}

.about-img {
	background: url(../img/bg/o-nama.jpeg) no-repeat center center/cover;
}

.blog-img {
	background: url(../img/bg/blog.jpeg) no-repeat center center/cover;
}

.projects-img {
	background: url(../img/bg/projekti.jpeg) no-repeat center center/cover;
}

.footer-text {
	padding: 1rem 0 2rem;
	font-size: 1.5rem;
	text-align: center;
}

.icon-container-1,
.icon-container-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	margin: 0 1.5rem;
}

.icon-container-2 {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.icon-container-2:not(:last-child) .contact-wrapper {
	margin: 0 0.5rem;
}

.contact-wrapper {
	text-align: center;
}

.text {
	display: block;
	font-size: 0.8rem;
}

/* 3. MODULES */

/* Hiding content from screen devices */
.hidden-visually {
	position: absolute;
	border: 0;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	margin: -1px;
	padding: 0;
	overflow: hidden;
}

/* Main menu */
.hamburger {
	z-index: 2;
	position: absolute;
	top: 1.8rem;
	right: 0;
}

.menu {
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
}

.menu-item {
	border-radius: 10px 10px 0 0;
	margin: 0.5rem 0;
	text-align: center;
}

.menu-item a {
	display: block;
	width: 9rem;
	padding: 1rem 1rem 1rem;
}

.menu-item:first-child,
.program-menu-item:first-child {
	background: var(--menu-item-1);
}

.menu-item:nth-child(2),
.program-menu-item:nth-child(2) {
	background: var(--menu-item-2);
}

.menu-item:nth-child(3),
.program-menu-item:nth-child(3) {
	background: var(--menu-item-3);
}

.menu-item:nth-child(4),
.program-menu-item:nth-child(4) {
	background: var(--menu-item-4);
}

.menu-item:nth-child(5) {
	background: var(--menu-item-5);
}

.menu-item:nth-child(6) {
	background: var(--menu-item-6);
}

.fas.fa-times {
	display: none;
}

.fa-bars,
.fa-times {
	color: rgb(46, 136, 163);
	font-size: 2rem;
}

.fa-times {
	font-size: 2.5rem;
}

/* Individual programs sub-menu */
.program-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 0.8rem -1.1rem;
}

.program-menu-item {
	border-radius: 10px 10px 0 0;
	margin: 0.1rem;
	text-align: center;
}

.program-menu-item a {
	display: block;
	width: 9rem;
	padding: 1.3rem 0 1rem;
	font-weight: 500;
}

.program-menu-item a.active {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	text-decoration: underline;
}

/* Biographies */
.biography-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.photo-frame {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

.mirela {
	background: url(../img/coaches/160x160/mirela-160x160.jpg) no-repeat center
		center/cover;
}

.dario {
	background: url(../img/coaches/160x160/dario-160x160.jpg) no-repeat center
		center/cover;
}

.matija-1 {
	background: url(../img/coaches/160x160/matija-1-160x160.jpg) no-repeat center
		center/cover;
}

.ivan {
	background: url(../img/coaches/160x160/ivan-160x160.jpg) no-repeat center
		center/cover;
}

.ivana {
	background: url(../img/coaches/160x160/ivana-160x160.jpg) no-repeat center
		center/cover;
}

.zoran {
	background: url(../img/coaches/160x160/zoran-160x160.jpg) no-repeat center
		center/cover;
}

.matija-2 {
	background: url(../img/coaches/160x160/matija-2-160x160.jpeg) no-repeat center
		center/cover;
}

.matija-3 {
	background: url(../img/coaches/160x160/matija-3-160x160.jpg) no-repeat center
		center/cover;
}

.grid-container,
.gallery-grid,
.program-container:not(#program-kondicijska-priprema
		.program-container):not(#program-djecja-kineziterapija .program-container) {
	display: -ms-grid;
	display: grid;
	gap: 0.5rem;
}

/* Program cards */
.program-card,
.mali-olimpijac-card {
	border-radius: 20px 20px 0 0;
	padding: 1rem;
	background: var(--menu-item-2);
	color: var(--link-color);
}

.card-image {
	width: 100%;
	height: auto;
	margin: 1rem 0;
}

.inside-wrapper {
	padding: 1rem;
	background-color: var(--link-color);
	color: var(--text-color-3);
}

.more-link,
.apply-link {
	display: block;
	width: 8rem;
	border-radius: 10px 10px 0 0;
	margin: 1rem auto 0;
	padding: 1.3rem 1rem 1rem;
	background: var(--menu-item-3);
	color: var(--menu-item-4);
	text-align: center;
}

.apply-link {
	border-radius: 10px;
	-webkit-box-shadow: 0 0 0 1px var(--menu-item-3);
	box-shadow: 0 0 0 1px var(--menu-item-3);
	margin: 2rem auto;
	background: var(--menu-item-2);
	color: var(--link-color);
	text-transform: uppercase;
}

/* Gallery */
.filters {
	text-align: center;
}

.filter-btn {
	border: none;
	border-radius: 5px;
	margin: 0.5rem 0;
	padding: 0.7rem 1rem 0.4rem;
	background: var(--menu-item-3);
	text-transform: uppercase;
	text-align: center;
}

.filter-btn:hover {
	color: var(--text-color-1);
}

.placeholder img {
	width: 100%;
	height: auto;
}

.filter-btn.active {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	transform: scale(1.06);
	color: var(--text-color-1);
}

/* Scroll back to top button */
.scrollButton {
	display: none;
	z-index: 1;
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	border: none;
	border-radius: 2rem;
	width: 3rem;
	height: 3rem;
	background: var(--menu-item-4);
	color: var(--link-color);
	text-align: center;
}

.scrollButton:active,
.scrollButton:focus,
.scrollButton:hover {
	-webkit-animation: pop 0.15s forwards linear;
	animation: pop 0.15s forwards linear;
}

@-webkit-keyframes pop {
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@keyframes pop {
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

/* Footer icons */
.phone,
.mail,
.address,
.instagram,
.facebook {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	-webkit-transition: -webkit-transform 0.8s ease;
	transition: -webkit-transform 0.8s ease;
	-o-transition: transform 0.8s ease;
	transition: transform 0.8s ease;
	transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.phone {
	background: url(../img/icons/phone-icon.png) center center/cover;
}

.mail {
	background: url(../img/icons/mail-icon.png) center center/cover;
}

.address {
	background: url(../img/icons/address-icon.png) center center/cover;
}

.instagram {
	background: url(../img/icons/instagram-icon.png) center center/cover;
}

.facebook {
	background: url(../img/icons/facebook-icon.png) center center/cover;
}

.phone:hover,
.mail:hover,
.address:hover,
.instagram:hover,
.facebook:hover {
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

/* Individual program pages*/
.years,
.locations {
	margin-bottom: 0.5rem;
	color: var(--text-color-1);
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
}

.weekly {
	font-size: 1.1rem;
}

/* Marquee slider */
.marquee-container {
	position: relative;
	border-radius: 10px;
	height: 3rem;
	margin-bottom: 1rem;
	padding: 1px;
	background-color: var(--menu-item-3);
	color: var(--link-color);
	white-space: nowrap;
	overflow: hidden;
}

.marquee-frame {
	border-radius: 10px;
	border: 2px dashed var(--menu-item-2);
	padding: 1.3rem;
}

.marquee-text {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	line-height: 2px;
	-webkit-animation: marquee 13s linear infinite;
	animation: marquee 13s linear infinite;
}

.marquee-text-2 {
	-webkit-animation: marquee-2 15s linear infinite;
	animation: marquee-2 15s linear infinite;
}

@-webkit-keyframes marquee {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-205%);
		transform: translateX(-205%);
	}
}

@keyframes marquee {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-205%);
		transform: translateX(-205%);
	}
}

@-webkit-keyframes marquee-2 {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-325%);
		transform: translateX(-325%);
	}
}

@keyframes marquee-2 {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-325%);
		transform: translateX(-325%);
	}
}

/* Locations */
.locations {
	font-size: 2rem;
}
.locations:before {
	content: attr(aria-label);
}

.city {
	list-style-type: disc;
	list-style-position: inside;
	margin-top: 1rem;
	color: var(--menu-item-3);
	font-size: 1.5rem;
	text-transform: uppercase;
}

/* MEDIA QUERIES */
/* Hamburger menu sizing */
@media screen and (min-height: 800px) {
	.menu-item a {
		width: 12rem;
		padding: 1.7rem 2rem 1.4rem;
		font-size: 1.5rem;
	}
}

/* Hamburger menu sizing */
@media screen and (min-height: 1000px) {
	.menu-item {
		margin: 1rem 0;
	}

	.menu-item a {
		width: 15rem;
		font-size: 1.8rem;
	}
}

/* Program sub-menu */
@media screen and (min-width: 468px) {
	.program-menu-item {
		display: -ms-grid;
		display: grid;
		place-items: center;
	}
}

@media screen and (min-width: 615px) {
	.program-menu-item a {
		padding: 0.5rem 0 0.3rem;
	}
}

/* Layout */
@media screen and (min-width: 768px) {
	.section-frame {
		padding: 2rem;
	}

	.grid-container,
	.gallery-grid {
		-ms-grid-columns: 1fr 2rem 1fr;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.icon-container-2:not(:last-child) .contact-wrapper {
		margin: 0 4rem;
	}

	.text {
		font-size: 1rem;
	}

	/* Sub-menu */
	.program-menu-item {
		margin: 0 0.2rem;
	}
}

@media screen and (min-width: 789px) {
	.program-card {
		min-height: 36rem;
	}
}

/* Bookmarks */
@media screen and (min-width: 1024px) {
	header img {
		width: 20rem;
		margin-top: 1.5rem;
	}

	.hamburger {
		display: none;
	}

	.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: unset;
		top: unset;
		left: unset;
		width: unset;
		height: unset;
		background: none;
	}

	.menu-item {
		border-radius: 10px 10px 0 0;
		margin: 3rem 0.2rem -1rem;
	}

	h2 {
		top: -3.5rem;
	}

	h2,
	.menu-item a {
		width: 7rem;
		padding: 1rem 1rem 0.7rem;
		font-size: 1.5rem;
		font-weight: 500;
	}

	.container {
		height: 70vh;
	}

	section:not(:last-child) {
		margin-bottom: 7rem;
	}

	#o-nama h2 {
		left: 2.7rem;
	}

	#programi h2 {
		left: 20vw;
		left: 10rem;
	}

	#galerija h2 {
		left: 25vw;
		left: 18rem;
	}

	#blog h2 {
		left: 26rem;
	}

	#projekti h2 {
		left: 34rem;
	}

	/* Biografije */
	h3 {
		margin: 0;
	}

	.photo-frame {
		min-width: 15rem;
		min-height: 15rem;
	}

	.biography-container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}

	.mirela {
		background: url(../img/coaches/250x250/mirela-250x250.jpg) no-repeat center
			center/cover;
	}

	.dario {
		background: url(../img/coaches/250x250/dario-250x250.jpg) no-repeat center
			center/cover;
	}

	.matija-1 {
		background: url(../img/coaches/250x250/matija-1-250x250.jpg) no-repeat
			center center/cover;
	}

	.ivan {
		background: url(../img/coaches/250x250/ivan-250x250.jpg) no-repeat center
			center/cover;
	}

	.ivana {
		background: url(../img/coaches/250x250/ivana-250x250.jpg) no-repeat center
			center/cover;
	}

	.zoran {
		background: url(../img/coaches/250x250/zoran-250x250.jpg) no-repeat center
			center/cover;
	}

	.matija-2 {
		background: url(../img/coaches/250x250/matija-2-250x250.jpeg) no-repeat
			center center/cover;
	}

	.matija-3 {
		background: url(../img/coaches/250x250/matija-3-250x250.jpg) no-repeat
			center center/cover;
	}

	.text-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}

	.mirela ~ .text-box,
	.matija-1 ~ .text-box,
	.ivana ~ .text-box,
	.matija-2 ~ .text-box {
		margin-left: 2rem;
	}

	.mirela ~ .text-box h3,
	.matija-1 ~ .text-box h3,
	.ivana ~ .text-box h3,
	.matija-2 ~ .text-box h3 {
		-ms-flex-item-align: start;
		-ms-grid-row-align: start;
		align-self: start;
	}

	.dario,
	.ivan,
	.zoran,
	.matija-3 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.dario ~ .text-box,
	.ivan ~ .text-box,
	.zoran ~ .text-box,
	.matija-3 ~ .text-box {
		margin-right: 2rem;
	}

	.dario ~ .text-box h3,
	.ivan ~ .text-box h3,
	.zoran ~ .text-box h3,
	.matija-3 ~ .text-box h3 {
		-ms-flex-item-align: end;
		align-self: flex-end;
	}

	/* Hover states */
	.logo:hover,
	.menu-item:hover,
	.photo-frame:hover,
	.card-link:hover,
	.filter-btn:hover,
	.placeholder:hover,
	.program-menu-item:hover,
	.apply-link:hover,
	.logo:focus,
	.menu-item:focus,
	.photo-frame:focus,
	.card-link:focus,
	.filter-btn:focus,
	.placeholder:focus,
	.program-menu-item:focus,
	.apply-link:focus {
		-webkit-transform: scale(1.06);
		-ms-transform: scale(1.06);
		transform: scale(1.06);
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		-o-transition: transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	}

	.section-frame:hover .card-link:not(:hover) {
		-webkit-filter: blur(0.1rem);
		filter: blur(0.1rem);
	}

	/* Gallery */
	.gallery-grid {
		-ms-grid-columns: (1fr) [3];
		grid-template-columns: repeat(3, 1fr);
	}

	/* Programi layout */
	.program-container {
		-ms-grid-columns: 1fr 2rem 1fr;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	/* Marquee */
	@-webkit-keyframes marquee {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-140%);
			transform: translateX(-140%);
		}
	}
	@keyframes marquee {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-140%);
			transform: translateX(-140%);
		}
	}

	@-webkit-keyframes marquee-2 {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-195%);
			transform: translateX(-195%);
		}
	}

	@keyframes marquee-2 {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-195%);
			transform: translateX(-195%);
		}
	}
}

@media screen and (min-width: 1250px) {
	.grid-container {
		-ms-grid-columns: (1fr) [4];
		grid-template-columns: repeat(4, 1fr);
	}

	@-webkit-keyframes marquee {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-110%);
			transform: translateX(-110%);
		}
	}

	@keyframes marquee {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-110%);
			transform: translateX(-110%);
		}
	}

	@-webkit-keyframes marquee-2 {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-155%);
			transform: translateX(-155%);
		}
	}

	@keyframes marquee-2 {
		0% {
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}
		100% {
			-webkit-transform: translateX(-155%);
			transform: translateX(-155%);
		}
	}
}

/* Ultra resolution queries */
@media screen and (min-width: 1920px) and (min-height: 1400px) {
	html {
		font-size: 120%;
	}
}
@media screen and (min-width: 2560px) {
	html {
		font-size: 140%;
	}
}

@media screen and (min-height: 2000px) {
	html {
		font-size: 220%;
	}
}

.mali-olimpijac-card {
	display: flex;
	flex-flow: column nowrap;
}

.inside-wrapper {
	flex: 1;
}
