// Header
header {
	position: relative; // related to hamburger menu
	@include flex-layout(column, nowrap);
	align-items: center;
	margin: 1rem;
}

.logo {
	&:hover,
	&:focus {
		@include pop-on-hover;
	}
}

.logo-img {
	width: 10rem;
	height: 100%;

	@include respond-to-width(1024px) {
		width: 20rem;
		margin-top: 1.5rem;
	}
}
